version: '3.9'

services:

    db:
        image: postgres:16.1-alpine3.19
        restart: always
        env_file:
            - ./env_vars/postgres.env
        ports:
            - "5432:5432"
        volumes:
            - ./scripts:/docker-entrypoint-initdb.d
        
    
    adminer:
        image: adminer
        restart: always
        ports:
            - "8080:8080"
    